body{
 
    width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
    
  }
ul
{
  text-align: left;
  width: 100%;
  margin: auto;
  padding: 0px;
  overflow: hidden; 
  background-color:black;
  list-style-type: none;
  
}
.topnav
{
  border-radius: 25px;
  border-color: black;
  
}

li {
    float:left;
  font-family:cursive;
}

li a{

  display: block;
  color: white;
  text-align: center;
  padding: 15px 161px;
  text-decoration: none;
  float: left;
  text-transform: uppercase;

}

li a:hover {
    display:block;
  width:auto;
  background-color: aliceblue;
  color:black;
  text-decoration: none;
}
.row1
{
   background:linear-gradient(to left,#ffd200,#f7971e) fixed;
   display:flex;
   width:100%;
   height: 400px;
   border:1px dotted none;
   margin:auto;
   flex-wrap:wrap;
   align-items:stretch;
}
.row
{
   background-color:white;
   display:flex;
   width:100%;
   height: 400px;
   border:1px dotted none;
   margin:auto;
   flex-wrap:wrap;
   align-items:stretch;
}
.row2
{
    background-color:lightgrey;
   display:block;
   width:50%;
   height: 200px;
   border:1px solid black;
   margin:auto;
    margin-top:10px;
    box-shadow:10px 20px 10px 2px rgba(0,1,6,0.65) ;

}
.you
{
    margin-top:30px;
}
.display-4, .lead
{
    width:100%;
    font-family: sans-serif;
    text-align: left;
    margin-left:50px;
    margin-top:50px;

}
#ui
{  
    width:100%;
    border:5px solid white;
    border-left:0px;
    border-right:0px;
  
}
#left{    
 float: left;  
 }  
 #right{    
 float: right; 
}
.mu
{
    width:140px;
    height:250px;
}
.row3
{   
    width:22.8%;
    margin:10px;
    
}
.j
{
    margin-left:10%;
    width:500px;
}
h3.modal-title{
    margin:auto;
    background-color: aqua;
    color:blueviolet;
    font-style:italic;
    font-family:monospace;
    letter-spacing:1px;
    
}
form.y
{
    border-radius:5px;
    padding:10px 10px;
    background-color:cornflowerblue ;
    
}